@model Manager
@{
    ViewData["Title"] = "CreateManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Create New Manager</h2>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form asp-action="CreateManager">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="ManagerNumber" class="control-label"></label>
                            <input asp-for="ManagerNumber" class="form-control" />
                            <span asp-validation-for="ManagerNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" value="CreateManager" class="btn btn-primary" />
                            <a asp-action="AllManagers" class="btn btn-warning">Cancel</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
