@model EPI_USE.Models.Manager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Manager Details</h2>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <ul>
                        <li><label style="font-weight: bold">Manager Number: </label> @Html.DisplayFor(model => model.ManagerNumber)</li>
                        <li><label style="font-weight: bold">Name: </label>  @Html.DisplayFor(model => model.Name)</li>
                        <li><label style="font-weight: bold">Surname: </label>  @Html.DisplayFor(model => model.Surname)</li>
                    </ul>

                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.ManagerNumber" class="btn btn-primary">Edit</a>
                        <a asp-action="AllManagers" class="btn btn-warning">Back</a>
                    </div>

                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
